@charset "utf-8";

* {padding: 0; margin: 0;}

ul{list-style: none;}

a{text-decoration: none;}

em{font-style: normal;}

img{border: 0;}

/* h标签继承body中字体大小的设置 */
h1,h2,h3,h4,h5,h6{font-size: 100%;}

/* 清除浮动,解决margin-top塌陷 */
.clearfix:before, .clearfix:after{content:"";display: table;}

.clearfix:after{clear:both;}

.clearfix{zoom: 1;}

.fl{float: left;}

.fr{float: right;}